<nav>
    <div class="site-title">
        <a href="/"><h1>Learning by Coding</h1></a>
        <p>Learning Backend While Making a Blog </p>
    </div>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New</a></li>
    </ul>
</nav>