<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head.ejs') %>

<body>

    <%-include('./partials/nav.ejs') %>

    <div class="about content">
        
        <h2>About Me</h2>
         <p>Here you can write a bunch of stuff about yourself or your company and so on :) 
         </p>
    </div>
    
    <%-include('./partials/footer.ejs') %>
    
</body>
</html>