<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head.ejs') %>

<body>

    <%-include('./partials/nav.ejs') %>

    <div class="about content">
        
        <h2>About Me</h2>
         <p>Hi! My name is Malin and I'm teaching myself to code. I like JavaScript, and I want to learn to use it for both frontend and backend projects. So I'm teaching myself something new everyday about web development and JavaScript. 
             My stack for the backend is MongoDB, Express.js, and Node.js, and my first project is this blog. I choose to make a blog because I like writing and I want to use this project as a journal.
         </p>
    </div>
    
    <%-include('./partials/footer.ejs') %>
    
</body>
</html>